<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>開発に使える英単語</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
<h1>開発に使える英単語</h1>
<article>
  <form id="x-add-form">
    <dl>
      <dt>word</dt>
      <dd><input class="x-input-word" type="text" name="word" size="30" maxlength="20" placeholder="単語" /></dd>
      <dt>title</dt>
      <dd><input class="x-input-title" type="text" name="title" size="30" maxlength="100" placeholder="意味" /></dd>
      <dt>pronounce</dt>
      <dd><input class="x-input-pronounce" type="text" name="title" size="30" maxlength="60" placeholder="読み" /></dd>
      <dt>description</dt>
      <dd><textarea class="x-input-body" id="body" name="body" cols="30" rows="10" placeholder="詳細"></textarea></dd>
    </dl>

    <button type="button" class="x-add-btn">add word</button>
  </form>
</article>

</body>
</html>
