<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>開発に使える英単語</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<h1>開発に使える英単語</h1>
  <p>英語がからきし駄目なtokimariのお勉強用に日報で配信し続ける英単語録です。<br>
    Dash用ドックセット。<code>mw:</code>で検索できます。</p>
<h2><a href="https://github.com/tokimari">GitHub - tokimari</a></h2>
<article>
  追加の仕方：<br>
  <ol>
    <li>1. <code>$ node app.js</code>  サーバ起動</li>
    <li>2. <a href="http://localhost:3000/add">http://localhost:3000/add</a>にアクセス</li>
    <li>3. 必要項目入力</li>
  </ol>
<ul>
  <% for(var i in data) { %>
  <li><a href="http://localhost:3000/page/<%= data[i].id %>">#<%= data[i].id %> <%= data[i].word %></a> - <%= data[i].title %></li>
  <% } %>
</ul>
</article>

</body>
</html>
